# Cloudinary Configuration
VITE_CLOUDINARY_API_KEY=995679447561865
VITE_CLOUDINARY_API_SECRET=6mELgxaWUrw5gaqhc9_2WFaa2nc
VITE_CLOUDINARY_CLOUD_NAME=skwiz

# ImgBB Configuration
VITE_IMGBB_API_KEY=0942cbf257298607fe2e846aac2ea221
